* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box }

html { margin: auto; text-align: center; max-width: 54em }
body { font-family: "brandon-grotesque",sans-serif; margin: 1ex }
article, aside, footer, header, menu, nav, section, time { display: block }

footer { margin: 1em; font-size: 70%; color: gray; font-weight: bold }
